@using EntityLayer.Concrete
@model List<Hotel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Oteller</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Otel Adı</th>
        <th>Adresi</th>
        <th>Fiyat</th>
        <th>Durum</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HotelId</td>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>@item.Price₺</td>
            <td>@item.Status</td>
            <td><a href="/Hotel/Details/@item.HotelId" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/Hotel/DeleteHotel/@item.HotelId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Hotel/UpdateHotel/@item.HotelId" class="btn btn-outline-success">Güncelle</a></td>

        </tr>
    }
</table>
<a href="/Admin/Hotel/AddHotel/" class="btn btn-outline-primary">Yeni Otel</a>
