@using EntityLayer.Concrete
@model List<ShipTour>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Gemi Tur Rotaları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gemi Adı</th>
        <th>Bölge</th>
        <th>Kapasite</th>
        <th>Fiyat</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ShipId</td>
            <td>@item.Name</td>
            <td>@item.Region</td>
            <td>@item.Capacity</td>
            <td>@item.Price$</td>
            <td><a href="/ShipTour/Details/@item.ShipId" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/ShipTour/DeleteShip/@item.ShipId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/ShipTour/UpdateShip/@item.ShipId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/ShipTour/AddShip/" class="btn btn-outline-primary">Yeni Gemi Tur Rotası</a>

